# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Dart

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v3
        

      # Note: This workflow uses the latest stable version of the Dart SDK.
      # You can specify other versions if desired, see documentation here:
      # https://github.com/dart-lang/setup-dart/blob/main/README.md
      # - uses: dart-lang/setup-dart@v1
      # - uses: dart-lang/setup-dart@9a04e6d73cca37bd455e0608d7e5092f881fd603

      # - name: Install Dart and Flutter
      #   run: |
      #     brew update
      #     brew tap dart-lang/dart
      #     brew install dart
      #     brew install --cask flutter

      - name: Install Dart and Flutter
        run: |
          brew update
          brew install --cask flutter

      - name: Install Flutter dependencies
        run: flutter doctor

      - name: Install dependencies
        run: flutter pub get

      # Consider passing '--fatal-infos' for slightly stricter analysis.
      - name: Analyze project source
        run: flutter analyze

      # Your project will need to have tests in test/ and a dependency on
      # package:test for this step to succeed. Note that Flutter projects will
      # want to change this to 'flutter test'.
      - name: Run tests
        env:
          MASTODON_DEFAULT_INSTANCE_BEARER_TOKEN: ${{ secrets.MASTODON_DEFAULT_INSTANCE_BEARER_TOKEN }}
        run: flutter test --dart-define-from-file=env.json --dart-define=$MASTODON_DEFAULT_INSTANCE_BEARER_TOKEN
        

